* {
    box-sizing: border-box;
    font-family: 'Hepta Slab', serif;
}


/*header*/

header {
    margin-top: 100px;
    text-align: center;
}

h1 {
    font-weight: 800;
    font-size: 2em;
    margin-top: 80px;
}

h2 {
    font-weight: 400;
}

header img {
    border-radius: 50%;
    opacity: 70%;
    box-shadow: 2px 2px lightgray;
}


/*navigation*/

.menu {
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 10px;
}


/* bio text */

p {
    line-height: 1.5em;
    padding: 15px;
}

.bio {
    max-width: 780px;
    margin-right: auto;
    margin-left: auto;
}


/*icon display*/

.showcase {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 110px;
    margin-top: 80px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style-position: inside;
    padding-left: 0;
}

.skills li {
    font-size: 3.5em;
    margin-right: 15px;
    color: #A60000;
}

.portfolio {
    text-align: center;
}

.contact li {
    font-size: 2.5em;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 8px;
}

.projects li {
    border: 1px solid gray;
    box-shadow: 2px 2px lightgray;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 8px;
}

footer {
    margin-top: 200px;
}

a {
    color: #A60000;
}

a:visited {
    color: gray
}